.navbar {
    height: calc(100vh - 60px);
    background: #111827;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

.logo {
    font-weight: bold;
    font-size: 1.2rem;
}

.actions {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.navbar button {
    background: #ef4444;
    border: none;
    padding: 6px 12px;
    border-radius: 6px;
    color: white;
    cursor: pointer;
}

.navbar button:hover {
    opacity: 0.9;
}